<html>
<head>
    <title>Sapphireon's blog</title>
</head>
<body>
    <div>
        <h1>Sapphireon's Declaration</h1>
        <h2>About This Project</h2>
        <p>I'm creating this blog because i'm learning different sides about programation, with Django Girls's Tutorial and my mentor called Laurinha. Thank you, everyone!</p>
    </div>
    <br>
    {% for post in posts %}
        <div>
            <p><a href="/"> {{post.title}} </a></p>
            <p>{{ post.text|linebreaksbr }}</p>
            <h5>published: {{ post.published_date}}</h5>
            <br>
        </div>
    {% endfor %}
</body>
</html>
