<html>
<head>
    <title>Sapphireon's blog</title>
</head>
<body>
    <div>
        <h1>Sapphireon's Declaration</h1>
        <h2>About This Project</h2>
        <p>I'm creating this blog because i'm learning different sides about programation, with Django Girls's Tutorial and my mentor called Laurinha. Thank you, everyone!</p>
    </div>
    <br>
    <div>
        <h2><a href="/"> my first post </a></h2>
        <h3>Published: 19/06/2022, 23:00pm</h3>
    </div>
    <br>
    <div>
        <h2><a href=""> my second post </a></h2>
        <h3>Published: 19/06/2022, 23:30</h3>
    </div>
</body>
</html>
